.pending-inventory {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.pending-inventory .value2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--UI-UI-text-14-reg-font-family);
  font-weight: var(--UI-UI-text-14-reg-font-weight);
  color: var(--dark-gray-dark-gray-2);
  font-size: var(--UI-UI-text-14-reg-font-size);
  letter-spacing: var(--UI-UI-text-14-reg-letter-spacing);
  line-height: var(--UI-UI-text-14-reg-line-height);
  white-space: nowrap;
  font-style: var(--UI-UI-text-14-reg-font-style);
  margin-left: 200px;
}

.pending-inventory .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.pending-inventory .header {
  position: absolute;
  width: 1440px;
  height: 65px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.pending-inventory .button {
  flex-direction: column;
  padding: 4px 12px;
  position: absolute;
  top: 16px;
  left: 104px;
  border-radius: 6px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  all: unset;
  box-sizing: border-box;
}

.pending-inventory .button-title {
  position: relative;
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.pending-inventory .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--UI-UI-text-14-reg-font-family);
  font-weight: var(--UI-UI-text-14-reg-font-weight);
  color: var(--dark-gray-dark-gray-2);
  font-size: var(--UI-UI-text-14-reg-font-size);
  text-align: center;
  letter-spacing: var(--UI-UI-text-14-reg-letter-spacing);
  line-height: var(--UI-UI-text-14-reg-line-height);
  white-space: nowrap;
  font-style: var(--UI-UI-text-14-reg-font-style);
}

.pending-inventory .dropdown {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  padding: 4px 4px 4px 10px;
  position: absolute;
  top: 16px;
  left: 200px;
  border-radius: 6px;
  overflow: hidden;
}

.pending-inventory .value {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--UI-UI-text-14-reg-font-family);
  font-weight: var(--UI-UI-text-14-reg-font-weight);
  color: var(--dark-gray-dark-gray-2);
  font-size: var(--UI-UI-text-14-reg-font-size);
  letter-spacing: var(--UI-UI-text-14-reg-letter-spacing);
  line-height: var(--UI-UI-text-14-reg-line-height);
  white-space: nowrap;
  font-style: var(--UI-UI-text-14-reg-font-style);
}

.pending-inventory .chevron {
  position: relative;
  width: 24px;
  height: 24px;
}

.pending-inventory .dropdown-2 {
  left: 300px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  padding: 4px 4px 4px 10px;
  position: absolute;
  top: 16px;
  border-radius: 6px;
  overflow: hidden;
}

.pending-inventory .dropdown-3 {
  left: 422px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  padding: 4px 4px 4px 10px;
  position: absolute;
  top: 16px;
  border-radius: 6px;
  overflow: hidden;
}

.pending-inventory .dropdown-4 {
  left: 536px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  padding: 4px 4px 4px 10px;
  position: absolute;
  top: 16px;
  border-radius: 6px;
  overflow: hidden;
}

.pending-inventory .dropdown-5 {
  left: 640px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  padding: 4px 4px 4px 10px;
  position: absolute;
  top: 16px;
  border-radius: 6px;
  overflow: hidden;
}

.pending-inventory .avatar-w-photo {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 20px;
  left: 1392px;
  border-radius: 999px;
  border: 1px solid;
  border-color: #0000001a;
  background-image: url(./img/avatar-w-photo.png);
  background-size: cover;
  background-position: 50% 50%;
}

.pending-inventory .icon-button {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 16px;
  left: 1288px;
}

.pending-inventory .img {
  left: 1320px;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 16px;
}

.pending-inventory .icon-button-2 {
  left: 1352px;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 16px;
}

.pending-inventory .text-input {
  position: absolute;
  width: 200px;
  height: 32px;
  top: 16px;
  left: 1072px;
  background-color: var(--black-white-white);
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--light-gray-light-gray-2);
}

.pending-inventory .value-2 {
  position: absolute;
  width: 154px;
  top: 3px;
  left: 34px;
  font-family: var(--UI-UI-text-14-reg-font-family);
  font-weight: var(--UI-UI-text-14-reg-font-weight);
  color: var(--mid-gray-mid-gray-4);
  font-size: var(--UI-UI-text-14-reg-font-size);
  letter-spacing: var(--UI-UI-text-14-reg-letter-spacing);
  line-height: var(--UI-UI-text-14-reg-line-height);
  font-style: var(--UI-UI-text-14-reg-font-style);
}

.pending-inventory .search {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 4px;
  left: 4px;
}

.pending-inventory .divider {
  position: absolute;
  width: 1400px;
  height: 1px;
  top: 64px;
  left: 0;
  background-color: var(--light-gray-light-gray-3);
}

.pending-inventory .logo {
  position: absolute;
  width: 48px;
  height: 44px;
  top: 10px;
  left: 24px;
  object-fit: cover;
}

.pending-inventory .overlap {
  position: absolute;
  width: 1440px;
  height: 954px;
  top: 70px;
  left: 0;
}

.pending-inventory .progress-circle {
  position: absolute;
  width: 160px;
  height: 88px;
  top: 65px;
  left: 152px;
}

.pending-inventory .overlap-group {
  position: relative;
  width: 144px;
  height: 144px;
  top: 8px;
  left: 8px;
}

.pending-inventory .ring {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 0;
  left: 0;
}

.pending-inventory .line-wrapper {
  position: relative;
  width: 160px;
  height: 88px;
  top: -8px;
  left: -8px;
  background-image: url(./img/background.svg);
  background-size: 100% 100%;
}

.pending-inventory .line {
  position: absolute;
  width: 66px;
  height: 84px;
  top: 4px;
  left: 0;
}

.pending-inventory .label {
  position: absolute;
  height: 18px;
  top: 26px;
  left: 49px;
  font-family: var(--text-xs-medium-font-family);
  font-weight: var(--text-xs-medium-font-weight);
  color: var(--gray-500);
  font-size: var(--text-xs-medium-font-size);
  text-align: center;
  letter-spacing: var(--text-xs-medium-letter-spacing);
  line-height: var(--text-xs-medium-line-height);
  white-space: nowrap;
  font-style: var(--text-xs-medium-font-style);
}

.pending-inventory .number {
  height: 32px;
  top: 45px;
  left: 46px;
  font-family: var(--display-xs-medium-font-family);
  font-weight: var(--display-xs-medium-font-weight);
  color: var(--gray-900);
  font-size: var(--display-xs-medium-font-size);
  text-align: center;
  letter-spacing: var(--display-xs-medium-letter-spacing);
  line-height: var(--display-xs-medium-line-height);
  position: absolute;
  white-space: nowrap;
  font-style: var(--display-xs-medium-font-style);
}

.pending-inventory .overlap-2 {
  position: absolute;
  width: 1440px;
  height: 954px;
  top: 0;
  left: 0;
}

.pending-inventory .table {
  position: absolute;
  width: 1440px;
  height: 735px;
  top: 219px;
  left: 0;
  background-color: #ffffff;
}

.pending-inventory .element-hover-button-hover {
  position: absolute;
  width: 1280px;
  height: 56px;
  top: 212px;
  left: 80px;
  background-color: #f9f9f9;
  border-radius: 20px;
  overflow: hidden;
}

.pending-inventory .text-wrapper-2 {
  position: absolute;
  width: 71px;
  height: 29px;
  top: 13px;
  left: 40px;
  font-family: "Sora", Helvetica;
  font-weight: 600;
  color: #262626;
  font-size: 18px;
  letter-spacing: -0.36px;
  line-height: 28.8px;
}

.pending-inventory .more-circle {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 12px;
  left: 1198px;
}

.pending-inventory .text-wrapper-3 {
  height: 26px;
  top: 14px;
  left: 149px;
  font-family: "Sora", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 25.6px;
  position: absolute;
  white-space: nowrap;
}

.pending-inventory .text-wrapper-4 {
  position: absolute;
  height: 26px;
  top: 14px;
  left: 441px;
  font-family: "Sora", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 25.6px;
  white-space: nowrap;
}

.pending-inventory .text-wrapper-5 {
  position: absolute;
  height: 26px;
  top: 14px;
  left: 654px;
  font-family: "Sora", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 25.6px;
  white-space: nowrap;
}

.pending-inventory .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 32px;
  position: absolute;
  top: 7px;
  left: 1065px;
  border-radius: 8px;
  border: 1px solid;
  border-color: #e5e5e5;
  all: unset;
  box-sizing: border-box;
}

.pending-inventory .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Sora", Helvetica;
  font-weight: 600;
  color: #262626;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 22.4px;
  white-space: nowrap;
}

.pending-inventory .element-hover-button-hover-2 {
  top: 300px;
  position: absolute;
  width: 1280px;
  height: 56px;
  left: 80px;
  background-color: #f9f9f9;
  border-radius: 20px;
  overflow: hidden;
}

.pending-inventory .element-hover-button-hover-3 {
  top: 388px;
  position: absolute;
  width: 1280px;
  height: 56px;
  left: 80px;
  background-color: #f9f9f9;
  border-radius: 20px;
  overflow: hidden;
}

.pending-inventory .element-hover-button-hover-4 {
  top: 476px;
  position: absolute;
  width: 1280px;
  height: 56px;
  left: 80px;
  background-color: #f9f9f9;
  border-radius: 20px;
  overflow: hidden;
}

.pending-inventory .element-hover-button-hover-5 {
  top: 564px;
  position: absolute;
  width: 1280px;
  height: 56px;
  left: 80px;
  background-color: #f9f9f9;
  border-radius: 20px;
  overflow: hidden;
}

.pending-inventory .element-hover-button-hover-6 {
  top: 652px;
  position: absolute;
  width: 1280px;
  height: 56px;
  left: 80px;
  background-color: #f9f9f9;
  border-radius: 20px;
  overflow: hidden;
}

.pending-inventory .seperator {
  position: absolute;
  width: 1200px;
  height: 1px;
  top: 179px;
  left: 120px;
  object-fit: cover;
}

.pending-inventory .navbar {
  position: absolute;
  width: 1127px;
  height: 22px;
  top: 138px;
  left: 120px;
}

.pending-inventory .text-wrapper-7 {
  position: absolute;
  height: 22px;
  top: 0;
  left: 0;
  font-family: "Sora", Helvetica;
  font-weight: 400;
  color: #4c4c4c;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22.4px;
  white-space: nowrap;
}

.pending-inventory .text-wrapper-8 {
  position: absolute;
  height: 22px;
  top: 0;
  left: 401px;
  font-family: "Sora", Helvetica;
  font-weight: 400;
  color: #4c4c4c;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 22.4px;
  white-space: nowrap;
}

.pending-inventory .text-wrapper-9 {
  left: 616px;
  position: absolute;
  height: 22px;
  top: 0;
  font-family: "Sora", Helvetica;
  font-weight: 400;
  color: #4c4c4c;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 22.4px;
  white-space: nowrap;
}

.pending-inventory .text-wrapper-10 {
  left: 1027px;
  position: absolute;
  height: 22px;
  top: 0;
  font-family: "Sora", Helvetica;
  font-weight: 400;
  color: #4c4c4c;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 22.4px;
  white-space: nowrap;
}

.pending-inventory .text-wrapper-11 {
  position: absolute;
  height: 22px;
  top: 0;
  left: 103px;
  font-family: "Sora", Helvetica;
  font-weight: 400;
  color: #4c4c4c;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 22.4px;
  white-space: nowrap;
}

.pending-inventory .pills {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 55px;
  left: 104px;
  background-color: #ffffff;
}

.pending-inventory .pill {
  position: relative;
  flex: 0 0 auto;
  background-color: #16c784;
  border: 1px solid;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 24px;
  border-radius: 99px;
}

.pending-inventory .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Sora", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.pending-inventory .pill-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 24px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 99px;
  border: 1px solid;
  border-color: #e5e5e5;
}

.pending-inventory .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Sora", Helvetica;
  font-weight: 400;
  color: #262626;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.pending-inventory .pill-3 {
  position: relative;
  flex: 0 0 auto;
  background-color: #16c784;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 24px;
  border-radius: 99px;
}

.pending-inventory .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Sora", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.pending-inventory .frame-wrapper {
  position: absolute;
  top: 55px;
  left: 1150px;
  border: 1px solid;
  border-color: #e5e5e5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 24px;
  border-radius: 99px;
}

.pending-inventory .frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.pending-inventory .group {
  position: absolute;
  width: 390px;
  height: 232px;
  top: 0;
  left: 898px;
}

.pending-inventory .group-2 {
  position: absolute;
  width: 123px;
  height: 51px;
  top: 65px;
  left: 271px;
}

.pending-inventory .text-wrapper-15 {
  top: 0;
  position: absolute;
  width: 80px;
  left: 39px;
  font-family: var(--product-font-family);
  font-weight: var(--product-font-weight);
  color: var(--gray-2);
  font-size: var(--product-font-size);
  letter-spacing: var(--product-letter-spacing);
  line-height: var(--product-line-height);
  font-style: var(--product-font-style);
}

.pending-inventory .rectangle {
  top: 5px;
  background-color: var(--data-3);
  position: absolute;
  width: 27px;
  height: 10px;
  left: 0;
}

.pending-inventory .text-wrapper-16 {
  top: 30px;
  position: absolute;
  width: 80px;
  left: 39px;
  font-family: var(--product-font-family);
  font-weight: var(--product-font-weight);
  color: var(--gray-2);
  font-size: var(--product-font-size);
  letter-spacing: var(--product-letter-spacing);
  line-height: var(--product-line-height);
  font-style: var(--product-font-style);
}

.pending-inventory .rectangle-2 {
  top: 35px;
  background-color: var(--data-4);
  position: absolute;
  width: 27px;
  height: 10px;
  left: 0;
}

.pending-inventory .overlap-group-wrapper {
  position: absolute;
  width: 245px;
  height: 232px;
  top: 0;
  left: 0;
}

.pending-inventory .overlap-group-2 {
  position: relative;
  width: 173px;
  height: 164px;
  top: 34px;
  left: 36px;
}

.pending-inventory .ellipse {
  position: absolute;
  width: 87px;
  height: 58px;
  top: 82px;
  left: 87px;
}

.pending-inventory .ellipse-2 {
  position: absolute;
  width: 148px;
  height: 162px;
  top: 2px;
  left: 0;
}

.pending-inventory .ellipse-3 {
  position: absolute;
  width: 109px;
  height: 83px;
  top: 0;
  left: 64px;
}

.pending-inventory .notification {
  display: flex;
  flex-direction: column;
  width: 355px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 198px;
  left: 1049px;
  background-color: #f5f5f580;
  border-radius: 16px;
  backdrop-filter: blur(80px) brightness(100%);
  -webkit-backdrop-filter: blur(80px) brightness(100%);
}

.pending-inventory .content {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.pending-inventory .notification-2 {
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 10px;
  background-image: url(./img/icon.png);
  background-size: cover;
  background-position: 50% 50%;
}

.pending-inventory .notification-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.pending-inventory .title-time {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.pending-inventory .title {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Sora", Helvetica;
  font-weight: 400;
  color: var(--label-colorlightprimary);
  font-size: 15px;
  letter-spacing: -0.5px;
  line-height: 20px;
}

.pending-inventory .time {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  mix-blend-mode: overlay;
  font-family: "Abel", Helvetica;
  font-weight: 400;
  color: var(--label-colorlightprimary);
  font-size: 13px;
  text-align: right;
  letter-spacing: -0.08px;
  line-height: 18px;
  white-space: nowrap;
}

.pending-inventory .description {
  position: relative;
  align-self: stretch;
  font-family: "Sora", Helvetica;
  font-weight: 400;
  color: var(--label-colorlightprimary);
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 18px;
}

.pending-inventory .text-wrapper-17 {
  position: absolute;
  height: 97px;
  top: 65px;
  left: 456px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
