/**************************
*
*	GENERAL
*
**************************/

.slider_wrapper {
	position: relative;
	width: 100%;
	height: auto;
	background: #f2f5f6;
	border-bottom: 4px solid #a1a1a0;
}


.camera_target_content {
	overflow: visible !important;
}

.camera_wrap {
	display: none;
	position: relative;
	overflow: visible !important;
	z-index: 0;
	margin: 0!important;
}

.camera_wrap img {
	max-width: 10000px;
}

.camera_fakehover {
	height: 100%;
	min-height: 60px;
	position: relative;
	width: 100%;
	z-index: 1;
}

.camera_src {
	display: none;
}

.camera_caption {
	background: url(../images/caption_bg.png) 0 0 repeat; 
	position: relative;
	overflow: hidden;
	margin: 120px auto 0;
	width: 948px;
	max-width: 948px;
	text-align: center;
	padding: 50px 0 77px;

}

.camera_caption h2 {
	text-align: center;
	font: normal 400 35px/43px 'Asap'; 
	color: #ffea37;
	letter-spacing: -.2px;
}

.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}

.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}

.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}

.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}

.camera_target_content .camera_link {
    background: url(../images/blank.gif);
	display: block;
	height: 100%;
	text-decoration: none;
}

.camera_loader {
    background: #fff url(../images/camera-loader.gif) no-repeat center;
	background: rgba(255, 255, 255, 0.6) url(../images/camera-loader.gif) no-repeat center;
	border: 1px solid #ffffff;
	border-radius: 18px;
	height: 36px;
	left: 48%;
	overflow: hidden;
	position: absolute;
	margin: 0;
	top: 40%;
	width: 36px;
	z-index: 3;
}

.camera_nav_cont {
	height: 65px;
	overflow: hidden;
	position: absolute;
	right: 9px;
	top: 15px;
	width: 120px;
	z-index: 4;
}

.camerarelative {
	overflow: hidden;
	position: relative;
}

.camera_commands > .camera_stop {
	display: none;	
}

.camera_clear {
	display: block;
	clear: both;
}

.showIt {
	display: none;
}

.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: -1px 0 25px;
	position: relative;
}

.camera_pag {
    z-index: 1;
    position: absolute;
    top: 356px;
    text-align: center;
    overflow: hidden;
    right: 49%;

	transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.camera_wrap .camera_pag .camera_pag_ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.camera_wrap .camera_pag .camera_pag_ul li {
	cursor: pointer;
	display: inline-block;
	height: 11px;
	position: relative;
	text-align: center;
	text-indent: -9999px;
	width: 11px;
}

.camera_wrap .camera_pag .camera_pag_ul li+li {margin-left: 3px;}

.camera_wrap .camera_pag .camera_pag_ul li > span {
	background-color: #fbf6eb;
	height: 11px;
	left: 0;
	overflow: hidden;
	position: absolute;
	width: 11px;

	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
}

.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span, 
.camera_wrap .camera_pag .camera_pag_ul li:hover > span {
	background-color: #e70101;
}

.camera_pag_ul .thumb_arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
	top: 0;
	left: 50%;
	margin-left: -4px;
	position: absolute;
}

.camera_prev, .camera_next {
	
    cursor: pointer;
    display: block;
    position: absolute;
    top: 43%;
    width: 36px;
    height: 71px;
    z-index: 999;
    right: 0px;
    opacity: 0.9;


    transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

.camera_prev {
	left: 0px;
}

.camera_prev, .camera_next {
    opacity: 1;
}

.camera_prev:hover {background-position: -36px 0;}
.camera_next:hover {background-position: 2px 0;}

/* =====================Responsive=====================*/

@media only screen and (max-width: 1199px) {
	
	.camera_pag {
		right: 48.2%;
		top: 300px;
	}

	.camera_caption {margin-top: 65px;}

	.camera_caption h2 {
		font-size: 30px;
		line-height: 35px;
	}

}


@media only screen and (max-width: 995px) {
	


	.camera_caption {
		margin-top: 35px;
		padding: 30px 0 60px;
		width: 100%;	
	}

	.camera_caption h2 {
		font-size: 28px;
		line-height: 34px;
	}

	.camera_pag {
		right: 2%;
		top: 75%;		
	}

}

@media only screen and (max-width: 767px) {
	
	.camera_caption h2 {
		font-size: 22px;
		line-height: 26px;
	}



}

@media only screen and (max-width: 480px) {
	
	.camera_caption {
    	margin-top: 30px;
    	padding: 20px 0;
    	width: 100%;
	}

	.camera_caption h2 {
		font-size: 20px;
		line-height: 24px;
	}
	.camera_caption h2 > br {display: none;}


	.camera_pag {
    	right: 16%;
    	top: 64%;
	}

}