
nav>.sf-menu {
	z-index: 990;
	text-align: left;
	position: relative;
}

nav { 
	margin-top: 33px;
	position:relative;
	padding: 0;
	float: right;
}

.sf-menu ul { 
	position:absolute; 
	top:-999px; 
	display:none;
}

.sf-menu li {
	display: block;
	position: relative;
	float: left;
	text-transform: uppercase;
}

.sf-menu>li+li {margin-left: 31px;}

.sf-menu>li+li:after {
	position: absolute;
	content: '/';
	left: -18px;
	top: 0;
	color: #333333;
	font: 700 14px/20px 'Asap', sans-serif;
}

.sf-menu>li>ul>li {
  float: none;
  position: static;
}

.sf-menu>li>a{
	display: block;
	text-align: left;
	position: relative;
	color: #333333;
	font: 700 14px/20px 'Asap', sans-serif;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0;
	letter-spacing: .5px;
}

.sf-menu>li+li>a {

}

.sf-menu>li>a:hover,
.sf-menu>li.current>a,
.sf-menu>li.sfHover>a {
	position: relative;
	text-decoration: none;
	color: #44a8da;
}

.sf-menu>li>a.sf-with-ul:after {
	position: absolute;
	content: '';
	left: 30%;
	top: 44px;
	width: 17px;
	background: url(../images/arrow_menu.png) 0 0 no-repeat;
	height: 6px;
	pointer-events: none;
	z-index: 999;
	display: block;
}

.sf-menu>li.sfHover>a.sf-with-ul:after, 
.sf-menu>li.current>a.sf-with-ul:after {

}

.sf-menu>li>ul>li>a.sf-with-ul:after {
	content: '';
	position: absolute;
	display: none;
	width: 7px;
	height: 6px;
	right: 20px;
	bottom: 11px;
	pointer-events: none;
	z-index: 999;
}

.sf-menu>li>ul>li.sfHover>a.sf-with-ul:after {
	background-position: 0 7px;
}

/*================================>> 2 Level <<========================================*/

.sf-menu li ul,.sf-menu li.sfHover>ul{
	position: absolute;
	z-index: 999;
	top: 50px;
	left: -70px;
	padding: 17px 0 21px;
	width: 174px;
	text-align: center;
	background: #f7941d;
}

.sf-menu li ul li{
	position: relative;
	text-align: left;
	float: none !important;
	padding: 0;
	cursor: default;
	display: inline-block;
}


.sf-menu li ul li a{
	position: relative;
	text-transform: none;
	z-index: 999;
	display: inline;
	color: #ffffff;
	font: normal 12px/35px Arial;
	text-decoration: none;
	letter-spacing: -.4px;
}

.sf-menu>li>ul>li>a.sf-with-ul:after {
	position: absolute;
	content: '';
	right: -18px;
	width: 8px;
	background: url(../images/arrow_menu_d.png) 0 0px no-repeat;
	height: 7px;
	top: 5px;
	pointer-events: none;
	z-index: 999;
	display: block;
}

.sf-menu>li>ul>li.sfHover>a.sf-with-ul:after {
}

.sf-menu li li a:hover, 
.sf-menu li.sfHover li.sfHover>a {  
	color: #424242;
	text-decoration: none;
}

/*================================>> 3 Level <<========================================*/

.sf-menu li.sfHover li.sfHover ul{
	position: absolute;
	left: 148px;
	top: -18px;
	background: #ffffff;
	padding: 19px 0;
	width: 176px;
}

.sf-menu li.sfHover li.sfHover ul li {
	padding: 0;
}

.sf-menu li.sfHover li.sfHover ul li a {
	color: #424242;
	padding: 0;	
}

.sf-menu li.sfHover li.sfHover ul li a:hover {
	color: #44a8da;
	font-weight: normal;
	text-decoration: none;
}

/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 1299px) {

	.sf-menu > li + li {margin-left: 18px;}
	.sf-menu > li + li:after {left: -11px;}

}

@media only screen and (max-width: 995px) {
	
	nav {padding: 0; margin: 28px 0 0; }

	.sf-menu > li > a {font-size: 13px;}

}

@media only screen and (max-width: 767px) {
	
	.menu_block {
		float: none !important;
		padding: 20px 10px 25px !important;
		clear: both;
		min-height: 0px;
  		border: none;
  		width: auto;
	}

  	header nav{
  		border: none !important;
		float:none !important;
		font:12px/15px Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		color:#927c67;
		margin: 0 auto;	
	}	

  	header nav ul {
  		border: none;
    }

	.sf-menu{display:none !important; float: none;}

	#mm0{
		font: normal 12px/15px Arial, Helvetica, sans-serif;
		background: #FBF6EB;
		color:#333333;
		width:100%;
		margin: 20px auto 20px;
		float: none;
        outline: none;
		border:2px solid #424242;
	}

}
