<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="styleguide.css" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div class="pending-inventory">
    <div class="div">
      <header class="header">
        <button class="button">
          <div class="button-title">
            <div class="text-wrapper">Dashboard</div>
          </div>
        </button>
        <div class="dropdown">
          <div class="value">Inventory</div>
          <img class="chevron" src="img/chevron.svg" />
        </div>
        <div class="dropdown-2">
          <div class="value">
            <button id="navigateButton">Sorting Jobs</button>
          </div>
          <img class="chevron" src="img/chevron.svg" />
        </div>
        <div class="dropdown-3">
          <div class="value">Partnership</div>
          <img class="chevron" src="img/chevron.svg" />
        </div>
        <div class="dropdown-4">
          <div class="value">Collection</div>
          <img class="chevron" src="img/chevron.svg" />
        </div>
        <div class="dropdown-5">
          <div class="value">Store</div>
          <img class="chevron" src="img/chevron.svg" />
        </div>
        <div class="avatar-w-photo"></div>
        <img class="icon-button" src="img/icon-button-2.svg" />
        <img class="img" src="img/icon-button-1.svg" />
        <img class="icon-button-2" src="img/icon-button.svg" />
        <div class="text-input">
          <div class="value-2">Search</div>
          <img class="search" src="img/search.svg" />
        </div>
        <div class="divider"></div>
        <img class="logo" src="img/logo-1.png" />
      </header>
      <div class="overlap">
        <div class="progress-circle">
          <div class="overlap-group">
            <div class="ring">
              <div class="line-wrapper"><img class="line" src="img/line-1.svg" /></div>
            </div>
            <div class="label">Storage</div>
            <div class="number">40%</div>
          </div>
        </div>
        <div class="overlap-2">
          <div class="group">
            <div class="group-2">
              <div class="text-wrapper-15">Product 2</div>
              <div class="rectangle"></div>
              <div class="text-wrapper-16">Product 3</div>
              <div class="rectangle-2"></div>
            </div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group-2">
                <img class="ellipse" src="img/ellipse-207.svg" />
                <img class="ellipse-2" src="img/ellipse-209.svg" />
                <img class="ellipse-3" src="img/ellipse-208.svg" />
              </div>
            </div>
          </div>
          <div class="notification">
            <div class="content">
              <div class="notification-2"></div>
              <div class="notification-content">
                <div class="title-time">
                  <div class="title">Successfully Update the stock</div>
                  <div class="time">34m ago</div>
                </div>
                <div class="description">New 26 Packages Added</div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-wrapper-17">1040KG</div>
      </div>
    </div>
  </div>
  <script>
    // JavaScript code to navigate to a new page when the button is clicked
    document.getElementById('navigateButton').addEventListener('click', function () {
      // Replace 'newpage.html' with the actual URL of the page you want to navigate to
      window.location.href = '../SortingManagement/index.html';
    });
  </script>
</body>

</html>