<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="table">
      <div class="element-hover-button-hover">
        <div class="text-wrapper">1</div>
        <img class="more-circle" src="img/more-circle-8.svg" />
        <div class="div">1253823</div>
        <div class="text-wrapper-2">12/08/2032</div>
        <div class="text-wrapper-3">Pending....</div>
        <button class="button"><div class="text-wrapper-4">View</div></button>
      </div>
      <div class="element-hover-button-hover-2">
        <div class="text-wrapper">1</div>
        <img class="more-circle" src="img/more-circle-8.svg" />
        <div class="div">9841684</div>
        <div class="text-wrapper-2">12/08/2032</div>
        <div class="text-wrapper-3">Picked Up....</div>
        <button class="button"><div class="text-wrapper-4">View</div></button>
      </div>
      <div class="element-hover-button-hover-3">
        <div class="text-wrapper">1</div>
        <img class="more-circle" src="img/more-circle-8.svg" />
        <div class="div">6423184</div>
        <div class="text-wrapper-2">12/08/2032</div>
        <div class="text-wrapper-3">Canceled....</div>
        <button class="button"><div class="text-wrapper-4">View</div></button>
      </div>
      <div class="element-hover-button-hover-4">
        <div class="text-wrapper">1</div>
        <img class="more-circle" src="img/more-circle-2.svg" />
        <div class="div">9815846</div>
        <div class="text-wrapper-2">12/08/2032</div>
        <div class="text-wrapper-3">Failed....</div>
        <button class="button"><div class="text-wrapper-4">View</div></button>
      </div>
      <div class="element-hover-button-hover-5">
        <div class="text-wrapper">1</div>
        <img class="more-circle" src="img/more-circle-2.svg" />
        <div class="div">8463584</div>
        <div class="text-wrapper-2">12/08/2032</div>
        <div class="text-wrapper-3">Rejected....</div>
        <button class="button"><div class="text-wrapper-4">View</div></button>
      </div>
      <div class="element-hover-button-hover-6">
        <div class="text-wrapper">1</div>
        <img class="more-circle" src="img/more-circle-2.svg" />
        <div class="div">8463584</div>
        <div class="text-wrapper-2">12/08/2032</div>
        <div class="text-wrapper-3">Rejected....</div>
        <button class="button"><div class="text-wrapper-4">View</div></button>
      </div>
      <img class="seperator" src="img/seperator.svg" />
      <div class="navbar">
        <div class="text-wrapper-5">#</div>
        <div class="text-wrapper-6">Arrival Date</div>
        <div class="text-wrapper-7">Status</div>
        <div class="text-wrapper-8">PURCHASED</div>
        <div class="text-wrapper-9">Request ID</div>
      </div>
      <div class="pills">
        <div class="pill"><div class="text-wrapper-10">Pending Inventory</div></div>
        <div class="div-wrapper"><div class="text-wrapper-11">Raw Inventory</div></div>
        <div class="pill-2"><div class="text-wrapper-12">Sorted Inventory</div></div>
        <div class="div-wrapper"><div class="text-wrapper-11">Sold Inventory</div></div>
        <div class="div-wrapper"><div class="text-wrapper-11">All</div></div>
      </div>
      <div class="frame-wrapper">
        <div class="frame"><div class="text-wrapper-11">Add New Stock</div></div>
      </div>
    </div>
  </body>
</html>
