<table class="table table--expanded@xs tv5-position-relative tv5-z-index-1 tv5-width-100% tv5-text-sm js-table" aria-label="Table Example">
    <thead class="table__header">
      <tr class="table__row">
        <th class="table__cell tv5-text-left" scope="col">Name</th>
        <th class="table__cell tv5-text-left" scope="col">Job</th>
        <th class="table__cell tv5-text-right" scope="col">Salary</th>
      </tr>
    </thead>
    
    <tbody class="table__body">
      <tr class="table__row">
        <td class="table__cell" role="cell">
          <span class="table__label" aria-hidden="true">Name:</span> Olivia Saturday
        </td>
  
        <td class="table__cell" role="cell">
          <span class="table__label" aria-hidden="true">Job:</span> Senior Data Engineer
        </td>
  
        <td class="table__cell tv5-text-right" role="cell">
          <span class="table__label" aria-hidden="true">Salary:</span> $320,000
        </td>
      </tr>
  
      <tr class="table__row">
        <td class="table__cell" role="cell">
          <span class="table__label" aria-hidden="true">Name:</span> David Smith
        </td>
  
        <td class="table__cell" role="cell">
          <span class="table__label" aria-hidden="true">Job:</span> Strategic Finance Manager
        </td>
  
        <td class="table__cell tv5-text-right" role="cell">
          <span class="table__label" aria-hidden="true">Salary:</span> $180,000
        </td>
      </tr>
  
      <tr class="table__row">
        <td class="table__cell" role="cell">
          <span class="table__label" aria-hidden="true">Name:</span> Margaret Mills
        </td>
  
        <td class="table__cell" role="cell">
          <span class="table__label" aria-hidden="true">Job:</span> Lead Software Engineer
        </td>
  
        <td class="table__cell tv5-text-right" role="cell">
          <span class="table__label" aria-hidden="true">Salary:</span> $250,000
        </td>
      </tr>
  
      <tr class="table__row">
        <td class="table__cell" role="cell">
          <span class="table__label" aria-hidden="true">Name:</span> Paul Brown
        </td>
  
        <td class="table__cell" role="cell">
          <span class="table__label" aria-hidden="true">Job:</span> Digital Content Writer
        </td>
  
        <td class="table__cell tv5-text-right" role="cell">
          <span class="table__label" aria-hidden="true">Salary:</span> $145,000
        </td>
      </tr>
  
      <tr class="table__row">
        <td class="table__cell" role="cell">
          <span class="table__label" aria-hidden="true">Name:</span> Stephanie Tavartkiladze
        </td>
  
        <td class="table__cell" role="cell">
          <span class="table__label" aria-hidden="true">Job:</span> Digital Project Manager
        </td>
  
        <td class="table__cell tv5-text-right" role="cell">
          <span class="table__label" aria-hidden="true">Salary:</span> $250,000
        </td>
      </tr>
    </tbody>
  </table>