<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="sorting">
      <div class="div">
        <header class="header">
          <button class="button">
            <div class="button-title"><div class="text-wrapper">Dashboard</div></div>
          </button>
          <div class="dropdown">
            <div class="value">Inventory</div>
            <img class="chevron" src="img/chevron-1.svg" />
          </div>
          <div class="dropdown-2">
            <div class="value">Sorting Jobs</div>
            <img class="chevron" src="img/chevron-1.svg" />
          </div>
          <div class="dropdown-3">
            <div class="value">Partnership</div>
            <img class="chevron" src="img/chevron-1.svg" />
          </div>
          <div class="dropdown-4">
            <div class="value">Collection</div>
            <img class="chevron" src="img/chevron-1.svg" />
          </div>
          <div class="dropdown-5">
            <div class="value">Store</div>
            <img class="chevron" src="img/chevron-1.svg" />
          </div>
          <div class="avatar-w-photo"></div>
          <img class="icon-button" src="img/icon-button-2.svg" />
          <img class="img" src="img/icon-button-1.svg" />
          <img class="icon-button-2" src="img/icon-button.svg" />
          <div class="text-input">
            <div class="value-2">Search</div>
            <img class="search" src="img/search.svg" />
          </div>
          <div class="divider"></div>
          <img class="logo" src="img/logo-1.png" />
        </header>
        <div class="progress-circle">
          <div class="overlap">
            <div class="ring">
              <div class="overlap-group"><img class="line" src="img/line-1.svg" /></div>
            </div>
            <div class="label">Sorting</div>
            <div class="number">40%</div>
          </div>
        </div>
        <div class="table">
          <div class="pills">
            <div class="pill"><div class="text-wrapper-2">New Sorting Job</div></div>
            <div class="div-wrapper"><div class="text-wrapper-3">Pending Sorting Jobs</div></div>
            <div class="pill-2"><div class="text-wrapper-4">Finished Sorting Jobs</div></div>
            <div class="div-wrapper"><div class="text-wrapper-3">All</div></div>
          </div>
          <div class="text-wrapper-5">Create New sorting Job</div>
          <div class="group">
            <div class="rectangle"></div>
            <div class="text-wrapper-6">Password</div>
          </div>
          <div class="frame-wrapper">
            <div class="frame"><div class="text-wrapper-3">Add Stock to</div></div>
          </div>
          <div class="group-2">
            <div class="overlap-2">
              <div class="div-2"></div>
              <div class="text-wrapper-7">0511111407597</div>
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2"><div class="text-wrapper-8">0511111407597</div></div>
              </div>
            </div>
            <div class="overlap-3">
              <div class="group-3">
                <div class="div-2"><div class="text-wrapper-9">0511111407597</div></div>
                <div class="group-4">
                  <div class="overlap-group-2"><div class="text-wrapper-8">0511111407597</div></div>
                </div>
              </div>
              <div class="overlap-wrapper">
                <div class="overlap-group-2"><div class="text-wrapper-8">0511111407597</div></div>
              </div>
            </div>
            <div class="group-5">
              <div class="overlap-group-2"><div class="text-wrapper-8">0511111407597</div></div>
            </div>
            <div class="total-packages">Total Packages :&nbsp;&nbsp;26</div>
          </div>
          <div class="group-6">
            <div class="overlap-4"><div class="text-wrapper-10">Create</div></div>
          </div>
          <div class="group-7">
            <div class="text-wrapper-11">Sorting Job NO -</div>
            <div class="group-8">
              <div class="overlap-group-3"><div class="text-wrapper-12">21s268</div></div>
            </div>
          </div>
          <div class="group-9">
            <div class="group-10">
              <div class="overlap-group-3"><div class="text-wrapper-12">9/11/2023</div></div>
            </div>
            <div class="text-wrapper-13">Date&nbsp;&nbsp; -</div>
          </div>
          <div class="group-11">
            <div class="group-12">
              <div class="overlap-group-3">
                <div class="text-wrapper-12">Line 1</div>
                <img class="chevron-2" src="img/chevron.svg" />
              </div>
            </div>
            <div class="text-wrapper-13">Sorting LIne&nbsp;&nbsp;&nbsp;&nbsp;-</div>
          </div>
          <div class="group-13">
            <div class="group-14">
              <div class="overlap-group-4"><div class="text-wrapper-14">....................</div></div>
            </div>
            <div class="comments">Comments&nbsp;&nbsp;&nbsp;&nbsp;-</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
